root = true

[*]
end_of_line = lf
insert_final_newline = false
indent_style = space
indent_size = tab
indent_brace_style = K&R
tab_width = 4
charset = utf-8
trim_trailing_whitespace = false
max_line_length = 10000
quote_type = single
curly_bracket_next_line = false
spaces_around_operators = true
spaces_around_brackets = outside

[*.php]
insert_final_newline = true
trim_trailing_whitespace = true

[*.css]
indent_style = tab
tab_width = 3

[*.tpl]
indent_style = tab
quote_type = double
tab_width = 3

[JAVASCRIPT*.tpl]
indent_style = tab  
quote_type = single
tab_width = 3


# Some files should not be reformatted...
# git checkout -- _tests/simpletest data/editarea/edit_area_compressor.php data_custom/upload-crop/upload_crop_v1.2.php sources/diff.php sources/firephp.php sources/jsmin.php sources/stemmer_EN.php sources_custom/GTranslate.php sources_custom/Swift-4.1.1 sources_custom/facebook sources_custom/geshi.php sources_custom/geshi sources_custom/getid3 sources_custom/openid.php sources_custom/photobucket sources_custom/php-crossword sources_custom/programe sources_custom/sabredav sources_custom/vimeo.php

