; Similar to stuff defined in sources/files.php, but defined in terms of what we want never to be in git
docs/api
/www.pid
*test.png
/info.php
/_config.php
/.htaccess
.DS_Store
*.lcd
*.tcp
*.tcd
*.gcd
/uploads
; themes/[abcefghijklmnopqrstuvwxyz0123456789]*
templates_cached
*.[1234567890]*
comcode_custom
*log.php
/exports
/imports
html_custom
spelling
data_custom/modules/chat/*.dat
themes/default/images_custom/*logo.png
data_custom/modules/admin_stats/*
/ocp_sitemap.xml
/*.clpprj
data_custom/latest_activity.txt
_tests/codechecker/functions.dat
/subs.inc
/hphp-static-cache
/hphp.files.list
/hphp
/*.scm
/*.heap
/*.sch
/*.dll
/*.fcgi
tmpfile__*
*.tmp
/_vti*
/if_hosted_service.txt
*.log
error_log
thumbs.db
thumbs.db:encrypted
.ds_store
_old
gibb
gibberish
/bingsiteauth.xml
php.ini
/.htpasswd
/iirf.ini
/robots.txt
/*.shtml
/.project
/closed.html
/closed.html.old
/sites
