; Similar to stuff defined in sources/files.php, but defined in terms of what we want never to be in git
/www.pid
/.htaccess
.DS_Store
*.lcd
*.tcp
*.tcd
*.gcd
templates_cached
data_custom/*log.php
/exports
/imports
data_custom/modules/chat/*.dat
data_custom/modules/admin_stats/*.xml
/ocp_sitemap.xml
/*.clpprj
data_custom/latest_activity.txt
/subs.inc
/hphp-static-cache
/hphp.files.list
/hphp
/*.scm
/*.heap
/*.sch
/*.dll
/*.fcgi
tmpfile__*
*.tmp
/_vti*
*.log
error_log
thumbs.db
thumbs.db:encrypted
.ds_store
_old
gibb
gibberish
/bingsiteauth.xml
php.ini
/*.shtml
/.project

; These files should be banned for the main ocPortal dev repository but not for ocP projects
.idea
cron.yaml
/data_custom/modules/google_appengine/*
dos.yaml
queue.yaml
/iirf.ini
docs/api
*test.png
/info.php
/_config.php
/uploads
; themes/[abcefghijklmnopqrstuvwxyz0123456789]*
*.[1234567890]*
comcode_custom
html_custom
spelling
themes/default/images_custom/*logo.png
_tests/codechecker/functions.dat
/if_hosted_service.txt
/.htpasswd
/robots.txt
/closed.html
/closed.html.old
/sites
data_custom/modules/user_export/out.csv

