_tests/screens_tested*
_tests/html_dump/forum_test_set/*
.idea
cron.yaml
/data_custom/modules/google_appengine/*
dos.yaml
queue.yaml
www.pid
*test.png
/info.php
/_config.php
/.htaccess
.DS_Store
.editorconfig
*.lcd
*.tcp
*.tcd
*.gcd
uploads
; themes/[abcefghijklmnopqrstuvwxyz0123456789]*
templates_cached
*.[1234567890]*
comcode_custom
*log.php
exports
imports
html_custom
spelling
data_custom/modules/chat/*.dat
themes/default/images_custom/*logo.png
screens_tested
html_dump
data_custom/modules/admin_stats/*
ocp_sitemap.xml
data_custom/latest_activity.txt
_tests/codechecker/functions.dat
hphp-static-cache
hphp.files.list
hphp
ocportal-git.clpprj

