{$BROWSER,ie6|ie7,.standardbox_classic \{ overflow-x: hidden; \} }

.float_surrounder, .float_surrounder_precise {
	overflow: {$BROWSER,ie,{$BROWSER,ie8+,hidden,auto},hidden}; {$,auto causes scroll glitches in Firefox and hidden won't work right in IE }
}

{$BROWSER,ie|opera,.wide_table_wrap \{ padding-right: 1px; \}} {$,To add in the extra pixel needed for 2x1/2 overhanging borders that tables have, and also to shunt the alignment to compensate}
{$BROWSER,ie,,{$BROWSER,safari,,.table_crop_protect \{ margin-top: 1px; margin-left: 1px; \} }} {$,To add in the extra pixel needed for 2x1/2 overhanging borders that tables have, and also to shunt the alignment to compensate}

{$BROWSER,ie6,.global_middle div\, .global_middle table \{	zoom: 1;	\}}
{$BROWSER,ie6,.global_side .constrain_field \{	width: 93%; padding-{!en_right}: 0;	\}}

{$BROWSER,ie6,#global_middle_ph \{ width: 98.5% !important; /* Needed to stop common random problem of content showing under panels or horizontal scrollbar  */ \}}

{$BROWSER,ie6,.menu_type__tree ul li a\, .menu_type__popup ul li a\, .menu_type__dropdown ul.nlevel li a \{	display: inline-block; \}}

{$BROWSER,ie6,.constrain_field \{ width: 95.5%; \} } /* IE6 does scrollbars uncontrollably, this is optimised for extreme case of the notes block in the Admin Zone */

{$BROWSER,ie6,.menu_type__popup .nlevel li \, .menu_type__dropdown .nlevel li \{ width: 300px; \} }

{$BROWSER,ie,{$BROWSER,ie8+,,input[type="submit"].button_page\, input[type="button"].button_page\, button.button_page \{ min-width: 0 !important; \} }}

{$BROWSER,ie6,.arr \{ vertical-align: -20%; \} }

{$BROWSER,ie6, .global_helper_panel \{ height: 450px; \}, .global_helper_panel \{ min-height: 450px; \} }

{$BROWSER,safari,,input.buttonhyperlink \{ font-weight: bold; /* underline won't stick on most browsers so we'll bold instead */ \}}

{$BROWSER,opera,,tt\, kbd\, samp \{ font-size: 1.25em; \}}

