{$,To add in the extra pixel needed for 2x1/2 overhanging borders that tables have, and also to shunt the alignment to compensate http://fantasai.inkedblade.net/style/discuss/collapsed-outer-border/}
{$BROWSER,ie|opera|safari|chrome,.wide_table_wrap \{ padding-right: 1px; \}}
{$BROWSER,ie,,{$BROWSER,safari,,.table_crop_protect \{ margin-top: 1px; margin-left: 1px; \} }}

{$BROWSER,opera,,tt\, kbd\, samp \{ font-size: 1.25em; \}}
