Source: ocportal
Section: web
Priority: optional
Maintainer: Chris Warburton <chriswarbo@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), quilt
Standards-Version: 3.9.1
Homepage: http://www.ocportal.com
#Vcs-Git: git://git.debian.org/collab-maint/ocportal.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ocportal.git;a=summary

Package: ocportal
Architecture: all
Depends: ${misc:Depends}, apache2 | httpd, php5, php5-mysql, php5-gd, mysql-client | virtual-mysql-client, dbconfig-common
Recommends: mysql-server, curl, php5-mcrypt
Suggests: php5-ldap, php5-pspell
Description: Content Management System for building dynamic websites
 ocPortal is a Content Management System (CMS), which acts as the "engine" to
 run sophisticated, dynamic Web sites. ocPortal attempts to include as much
 functionality as possible "out of the box", with options to disable unwanted
 modules after installation. An emphasis is placed on ease of use, with built-in
 GUIs for all common requirements, whilst reprogramming is supported through a
 system of file overrides. 
 .
 ocPortal sites can host content of various types including news, member blogs,
 events, galleries (images, video, audio, Flash), file downloads and
 user-defined "catalogue" data. Many modules are included for dynamic features
 such as forums, chat rooms, Wikis, commenting, rating, awards, trackbacks,
 polls, quizzes, ecommerce (products sales and usergroup subscription) and a
 'points' system for rewarding contributors. Content can be made available in
 multiple languages and will be automatically analysed for Search Engine
 Optimisation. 
 .
 Powerful administration tools are available, including banner networks, a
 comprehensive admin zone with check lists and reminders, email newsletters
 (including automatic "What's new?" issues), site statistics, hacking detection
 and alerts, backups, theming tools and a powerful commandline environment. 
 .
 ocPortal is written in PHP, XHTML and Javascript and conforms to Web and
 Accessibility standards. Custom languages are included for theming/templating
 (Tempcode) and markup (Comcode), the latter being inspired by the "BBCode"
 language found on many forums. ocPortal includes its own forum, called OCF, but
 can also integrate or import many third-party forums and CMSs. There is
 currently at least some support for: AEF, Burning Board, IPB, Joomla, MKPortal,
 MyBB, phpBB, phpNuke, SMF, static HTML, vB, Wordpress and WowBB.
 .
 ocPortal requires PHP 4.2+ or HipHop, MySQL and a Web server such as Apache.
 ocPortal development is supported by ocProducts Ltd.
