/* CSS for the activities feed and the status posting box */

.activities_box {
	overflow: hidden;
	height: auto;
	list-style: none;
	margin: 0.5em 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-{!en_left}: 5px;
	vertical-align: top;
}

.avatar_box {
	width: 40px;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

.activities_line {
	margin-top: 0;
	font-size: 0.95em;
}

.activities_box .remove {
	float: right;
	overflow: hidden;
	width: 22px;
}

.activities_box .remove .remove_cross {
	width: 14px;
	height: 14px;
	background: url('{$IMG;,stop12}') transparent no-repeat;
	font-size: 0;
	color: transparent;
	border: none;
	margin-top: 4px;
	padding: 0;
}

.activities_box .remove .remove_cross:hover {
	background: url('{$IMG;,stop12Hover}') transparent no-repeat;
	cursor: pointer;
}

.activities_box .remove .remove_cross:active {
	background: url('{$IMG;,stop12Active}') transparent no-repeat;
	cursor: pointer;
}

/* What's this all about, eh? Standards compliant are we Mozilla? What-ever*/
.activities_box .remove input.remove_cross::-moz-focus-inner {
	border: 0;
}

.activities_content {
	width: auto;
	float: none;
	padding: 0.5em 0.5em 0.5em 45px;
	font-size: 1.05em;
	color: #333333;
	{$BETA_CSS_PROPERTY,word-wrap: break-word;}
}

.activities_box .name {
	float: left;
	padding-{!en_right}: 2em;
	margin-top: 10px;
	font-size: 0.95em;
	font-weight: bold;
}

.activities_box .name a, .activities_box .name a[href*=".php"] {
	color: #333333;
	text-decoration: none;
}

.activities_box .name a:hover, .activities_box .activities_box .name a[href*=".php"]:hover {
	color: #005567;
}

.activities_box .time {
	float: right;
	color: #999999;
}

.activities_box .name, .activities_box .time {
	margin: 5px 1em 0 0;
	font-size: 0.80em;
	text-decoration: none;
}

.status_box_outer {
	margin: 0 1em 0 0;
	font-size: 0.90em;
}

.status_box {
	background: #FFFFFF;
	width: 100%;
	overflow: auto;
	height: 2.3em;
	font-size: 1.2em;
	{$BETA_CSS_PROPERTY,box-sizing: content-box;}
}

.status_controls {
}

.status_table {
	width: 100%;
}

.status_table #notify {
	white-space: normal;
	font-size: 0.85em;
	margin: 0.2em;
}

.activities_holder {
	padding-left: 0;
	margin-left: 0;
	display: block;
	list-style: none;
}

.update_success {
	margin: 0;
}

